<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>459046327856-0c0qd0sqdngm6mlmibtnc45p3fbti82m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459046327856-0c0qd0sqdngm6mlmibtnc45p3fbti82m</string>
	<key>API_KEY</key>
	<string>AIzaSyAhue_HTrZiQWQclE6BWKJS8mU18unX7to</string>
	<key>GCM_SENDER_ID</key>
	<string>459046327856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.alvys.app</string>
	<key>PROJECT_ID</key>
	<string>alvys-1e881</string>
	<key>STORAGE_BUCKET</key>
	<string>alvys-1e881.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459046327856:ios:e5604949989c4c1647fff5</string>
	<key>DATABASE_URL</key>
	<string>https://alvys-1e881.firebaseio.com</string>
</dict>
</plist>