<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HUB_NAME</key>
	<string>alvys-sandbox-notifications</string>
	<key>CONNECTION_STRING</key>
	<string>Endpoint=sb://alvysnotifications.servicebus.windows.net/;SharedAccessKeyName=DefaultListenSharedAccessSignature;SharedAccessKey=he4B0y9WxepVlt5YTWb3N9jBE+OVpWeC95nlC8P8+xk=</string>
</dict>
</plist>
